.env
/keystores
.embark
chains.json
config/livenet/password
config/production/password
coverage
dist
build
embarkArtifacts
node_modules
yarn-error.log
/src/react-app-env.d.ts
/client/src/react-app-env.d.ts
/client/src/contracts
