ENDPOINT=http://127.0.0.1:7545
KEYSTORES_PATH=./keystores
ACCOUNT=./keystores/keystore.json
PASSFILE=./keystores/keystore-passfile.txt
PORT=9000

RELAYER_URI=http://localhost:9000/redeem
BUCKET=

ERC20_FACTORY=
ERC20_TOKEN_ADDRESS=
ERC20_BUCKET_VALIDITY=30
ERC20_BUCKET_FILE=./erc20.csv
