:link,:visited { text-decoration:none }
ul,ol { list-style:none }
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin:0; padding:0 }
a img,:link img,:visited img { border:none }
address { font-style:normal }

body {
  background-image: linear-gradient(90deg, #fa709a 0%, #fee140 100%);
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.main {
  margin-top: 50px;

  .paper {
    margin: 0 auto;
    padding: 12px;
    background: #fff;
    color: #1a1a1a;
    width: 400px;
    border-radius: 4px;
    text-align: center;

    &.error {
      color: red;
    }
  }
}
